body{
/*    background: url('../bg.png'); */
}

.container {
    min-height: 450px;
    width: 100%;
}

#name-header{
    text-align:center;
    margin: 10px auto 0px auto;
    font-size:24px;
    font-weight:bold;
    color: #01939A;
    height: 30px;
}

#header-div{
    width: 940px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.trend-header{
    text-align: center;
    margin: 30px 0px;
    color: #FFAD00;
}

.trend-list { 
    list-style-type:none;
    padding:0;
    font-size:0.9em;
}

.trend-list li {
    text-align:center;
    margin:30px 0px;
    border: 1px solid #ccc;
}

.trend-list li a {
    display:block;
    color: #06266F;
    padding:0 20px;
    text-decoration:none;
}

